*,
*:after,
*:before {
	box-sizing: border-box;
	
}

table.sections-table {
	border: 1px solid rgb(11, 25, 140);
	border-spacing: 0;

	width: 100%;
	a {
		color: #22229c; 
	}

	p {
		margin: 0;
	}
	th,
	td {
		border: 0.02px solid #d1d1e1;
		padding: 7px;
	}
	th {
		background: linear-gradient(to bottom, #334d80, #526793);
		color: #fff;
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		font-weight: bold;

		&:first-child {
			border-right: none;
		}
		&:nth-child(2) {
			text-align: left;
			border-left: none;
		}
	}
	td.td-content {
		font-family: Verdana, sans-serif;
		font-size: 12px;
		.section__title {
			color: #22229c;
			font-size: 14px;
			font-weight: bold;
		}
		.section__description {
			font-size: 11px;
		}
		.section__last-message {
			font-size: 11px;

			min-width: 220px;
			.section__last-message__text {
				font-weight: bold;
			}
			.section__last-message__link {
				.section__last-message__link-btn {
					background: url(../images/icon-right-arrow.gif);
					border: none;
					cursor: pointer;

					width: 12px;
					height: 12px;

					margin-left: 4px;
					float: right;
				}

				.section__last-message__date {
					float: right;
					.time {
						color: #6679b1;
					}
				}
			}
		}

		&:first-child {
			border-right: none;
		}
		&:nth-child(2) {
			border-left: none;
		}
		&:nth-child(even) {
			background-color: #f5f5ff;
		}
		&:nth-child(odd) {
			background-color: #e1e4f2;
		}
		&:first-child {
			background-color: #f5f5ff;
		}
	}
	td.section__numbers {
		font-size: 14px;
		.section__numbers__inner {
			text-align: center;
		}
	}	
	tr.category__name {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
		border: none;
		border-spacing: 0;

		background: linear-gradient(to bottom, #4b6ca6, #788fb9);

		width: 100%;
		.category__name__title {
			display: inline;
		}
		.hide-category-btn {
			float: right;
			border: none;
			

			width: 16px;
			height: 16px;

			cursor: pointer;
		}
	}
}
