.account-edit-block {
	font-family: Verdana, sans-serif;
	width: 100%;

	.account-edit-block__inner {
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 40px;

		padding: 20px;
		margin: 0 auto;

		width: fit-content;
		min-width: 450px;
		
		.validation {
			padding-bottom: 10px;
		}
		.account-form-title {			
			color: #fff;			
			text-align: center;
		}
		.form-group {			
			position: relative;			
			.form-group-label {
				font-size: 11px;
				color: #000;

				position: absolute;
				top: -55%;
				left: 5%;
				&.text-area-label {
					top: -14%;
				}
			}
			.form-group-input {
				border: 0.5px solid	#000;
				border-radius: 10px;
				padding-left: 5px;
				&.text-area-input {
					resize: none;
					overflow: hidden;

					width: 300px;
					height: 100px;
				}
			}			
		}
	}
}