.my-form-wrap {
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 20px;
}

.my-form-group {
	padding-bottom: 5px;	
	&::after {
		content: " ";
		clear: both;
		display: table;
	}
	.my-form-label {
		vertical-align: top;
		float: left;		
		width: 15%;
	}
	.my-form-textarea {
		overflow-x: hidden;
		resize: none;		
		float: left;
		width: 60%;
	}
	.my-validation-span {
		vertical-align: top;
		width: 20%;
	}	
}

.my-form__info-block {
	padding-bottom: 10px;
	.info-block__item {
		border-bottom: 1px solid #A9A9A9;
		padding-bottom: 5px;
	}
}

.my-textarea-big {
	height: 300px;
}
.my-textarea-small {
	height: 100px;
}
