.account-form-block .account-form-block__inner {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  padding: 20px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.account-form-block .account-form-block__inner .validation {
  padding-bottom: 10px;
}

.account-form-block .account-form-block__inner .account-form-title {
  color: #fff;
  text-align: center;
}

.account-form-block .account-form-block__inner .form-group {
  position: relative;
}

.account-form-block .account-form-block__inner .form-group .form-group-label {
  font-size: 11px;
  color: #000;
  position: absolute;
  top: -55%;
  left: 5%;
}

.account-form-block .account-form-block__inner .form-group .form-group-input {
  border: 0.5px solid	#000;
  border-radius: 10px;
  padding-left: 5px;
}
