@model MyForum.ViewModels.ChangePasswordViewModel
@{
   ViewData["Title"] = "Изменение пароля";
}
<link href="~/css/account.css" rel="stylesheet" />

<div class="account-form-block">
   <div class="account-form-block__inner">
      <h1 class="account-form-title">Изменение пароля</h1>
      <form asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true" method="post">
         <div asp-validation-summary="ModelOnly" class="validation text-danger"></div>
         <div>
            <div name="validation-group" class="form-group">
               <label asp-for="OldPassword" class="form-group-label">Старый пароль</label>
               <input asp-for="OldPassword" type="password" class="form-group-input" />
               <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div name="validation-group" class="form-group">
               <label asp-for="NewPassword" class="form-group-label">Новый пароль</label>
               <input asp-for="NewPassword" type="password" class="form-group-input" />
               <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input class="btn btn-primary" type="submit" value="Сменить" />
            </div>
         </div>
      </form>
   </div>
</div>

<script src="~/js/account-validate-change-color.js"></script>
