@{
   ViewData["Title"] = "Обратная связь";
}
<link rel="stylesheet" href="~/css/my-forms.css">

<div class="my-form-wrap">
   <strong>Разработчик - Давыденко Р.А.</strong>
   <br /> Контактные данные:
   <br /> Email: <a href="mailto:ishadows888@gmail.com">ishadows888@gmail.com</a>  
</div>