@{
   ViewData["Title"] = "Информация";
}
<link rel="stylesheet" href="~/css/my-forms.css">

<div class="my-form-wrap">
   Классический форум с возможностью создавать темы, писать в них сообщения, создавать разделы, в которые помещаются темы по тематике. Также сущестувует более крупное разделение по тематике - категории, в которые помещаются разделы.
   <br />Форум был создан за месяц (с 16 мая 2020 по 17 июня 2020), при этом в день на разработку тратилось в среднем около 2 часов.
   <br />На форуме имеется система авторизации. Возможно создавать роли и назначать их пользователю.
   <br /> Использованные технологии: ASP .NET Core 3.1, Entity Framework Core, Identity, MS SQL, Jquery, AJAX, Bootstrap
   <br />
   <br /> Удачи :)
</div>